<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>BFIT EE Community</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-theme.min.css}" rel="stylesheet">
    <link th:href="@{/css/community.css}" rel="stylesheet">
    <script th:src="@{/jquery/jquery.js}" type="application/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="application/javascript"></script>
</head>
</html>